<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if page_description != blank %}
        <meta name="description" content="{{ page_description }}">
    {% endif %}

    <title>{{ page_title }}</title>

    <style>
        :root {
            --raw-sienna: #D87D4A;
            --hit-pink: #fbaf85;
            --cod-gray: #101010;
            --seashell: #f1f1f1;
            --alabaster: #fafafa;
            --persian-red: #CD2C2C;
            --alto: #CFCFCF;
            --black: #000000;
            --white: #ffffff;
        }
    </style>

    {{ 'main.css' | asset_url | stylesheet_tag }}
    
    <script src="{{ 'main.js' | asset_url }}" defer></script>
    <script src="https://unpkg.com/alpinejs@3.9.3/dist/cdn.min.js"  defer></script>

    {{ content_for_header }}
</head>
<body>

    {% section 'header' %}
    
    <main class="{% if template.name != 'index' %} body-top-margin {% endif %}">
        {{ content_for_layout }}
    </main>

    {% section 'footer' %}

</body>
</html>