<img 
    src="{{ product.featured_media.src | image_url }}" 
    alt="{{ product.featured_media.alt }}"
    loading="lazy"
>

<h1 class="fs-4">{{ product.title }}</h1>

<p>{{ product.description }}</p>

<h2 class="fs-6">{{ product.price | money }}</h2>

{% form 'product', product, class: 'product-form' %}

    <select name="id" class="variants-select">
        {% for variant in product.variants %}
            <option
                value="{{ variant.id }}"
                {% if varint == product.selected_or_first_available_variant %}
                    selected="selected"
                {% endif %}
            >{{ variant.title }}</option>
        {% endfor %}
    </select>

    <div x-data="{ quantity: 1 }" class="quantity">
        <button @click="if(quantity > 1) quantity--" class="quantity__decrease" type="button">-</button>
        <input type="number" class="quantity__input" name="quantity" :value="quantity" min="1">
        <button @click="quantity++" class="quantity__increase" type="button">+</button>
    </div>

    <input type="submit" value="Add To Cart" class="btn btn--small">

{% endform %}

<section class="features">
<h2 class="fs-5">Features</h2>

{{ product.metafields.accentuate.features.html }}
</section>

<section class="in-the-box">
<h2 class="fs-5">In the box</h2>

<ul>
    {% for included in product.metafields.accentuate.included %}
        <li>{{ included }}</li>
    {% endfor %}
</ul>
</section>

<section class="product-images">
{% for image in product.images offset: 1 %}
    <picture>

        <img src="{{ image | image_url }}" alt="{{ image.alt }}" srcset="">
    </picture>
{% endfor %}
</section>

{% schema %}
{
    "name": "Product Main",
    "tag": "section",
    "class": "product-main",
    "presets": [
        {
            "name": "Product Main"
        }
    ]
}
{% endschema %}

{{ 'main-product.css' | asset_url | stylesheet_tag }}